/* Styles  headings */
h1 {
    color:beige;
    margin-bottom: 1px;
    text-indent: 3%;
}
#address {
    color:beige;
    margin-top: 1px;
    text-indent: 3%;
}
h2 {
    color:beige;
    text-indent: 3%;
    margin-top: 6%;
    
}
/* Styles paragraphs */
p{
    color:bisque;
    text-indent: 3%;
}
#link{
    color:bisque;
    text-indent: 3%;
    font-size:20px;
    margin-top: 5%;
}

/* Background styles */
body {
    background: linear-gradient(to right,#299793, #a4f4f1);
}

/* eliminate border */
body {
    margin: 0;
    padding: 0;
}